#homeView{
	display: block;
}
#sepDiv{
	display: block;
	color: black;
	border: 1px solid white;
	border-width: 3px;
	padding: 100px;
	margin-top: 7.5px;
	/*margin-left: 15px;*/
}
body { 
  background: url(http://images.indianexpress.com/2016/06/germany-football-759.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
